@import 'variables';

body.high-contrast {
  background-color: $hc-bg !important;
  color: $hc-text !important;

  *, 
  *::before, 
  *::after {
    background-color: $hc-bg !important;
    color: $hc-text !important;
    border-color: $hc-border !important;
    box-shadow: none !important;
  }

  a {
    color: $hc-link !important;
    text-decoration: underline !important;
  }

  button {
    background-color: $hc-text !important;
    color: $hc-bg !important;
  }
}